body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
}

#store-inventory-app  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
}

#store-inventory-app .app-title {
    text-align: center;
}

#store-inventory-app .item-panel-title {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}

#store-inventory-app .item-adder {
    display: flex;
    justify-content: center;
}

#store-inventory-app .items {
    overflow-y:scroll;
    height: 400px;
    padding-left: 0px;
}

#store-inventory-app .inventory-item {
    list-style-type: none;
    height: 100px;
}

#store-inventory-app .inventory-item:hover {
    background:rgb(233, 233, 233);
}

#store-inventory-app .inventory-item .name {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
}

#store-inventory-app .add:hover {
    cursor: pointer;
}

#store-inventory-app .inventory-item .delete:hover {
    cursor: pointer;
}

#store-inventory-app .inventory-item .quantity-panel {
    display: flex;
    width: 200px;
    height: 30px;
    justify-content: space-between;
    border-color: black;
    border-width: 1px;
    border-spacing: 100px;
    border-style: double;
}

#store-inventory-app .inventory-item .plus {
    width: 30px;
    font-size: 30px;
    text-align: center;
    line-height: 0px;
    padding: 0px 0;
}

#store-inventory-app .inventory-item .plus:hover {
    cursor: pointer;
}

#store-inventory-app .inventory-item .minus {
    width: 30px;
    font-size: 30px;
    text-align: center;
    line-height: 0px;
    padding: 0px 0;
}

#store-inventory-app .inventory-item .minus:hover {
    cursor: pointer;
}

#store-inventory-app .inventory-item .quantity {
    width: 40px;
    line-height: 30px;
    text-align: center;
    font-size: 1.8vh;
}

#store-inventory-app .inventory-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}